/*메뉴바*/
nav{
    font-size: 12pt;
    font-family: 'PT Sans', Arial, Sans-serif;
    position: relative;
}
nav ul{
    padding: 0;
    margin: 0 auto;
    width: auto;
}
nav li{
}
nav a{
    line-height: 50px;
  height: 50px;
}
nav li a{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
nav li:last-child a{
    border-right: 0;
    }
nav a:hover, nav a:active{
}
nav a#pull{
    display: none;
}
  html {
  -webkit-touch-callout:none;
  -webkit-user-select:none;
  -webkit-tap-highlight-color:rgba(0, 0, 0, 0);
  }

  ul{
    /*list-style-type: none;*/
    margin: 0;
    padding: 0;
    background-color: #333;
    text-align: center;
  }
  li{
    /*position: relative;*/
    display: inline-block;
  }
  li a{
    color: #FFFFFF;
    text-align: center;
    padding: 14.5px 16px;
    text-decoration: none;
  }
  li a:hover{
    /*color: #597812;*/
    color: #FFD400;
    font-weight:normal;
  }
  .menu {
   width: 5000px;
   height: 50px;
   text-align: center;
   max-width: 100%;
   background-position: center;
   background-size: cover;
   background-color: #333333;color: white;
   position: absolute;z-index: 1;
 }
 /*로그인 버튼*/

 .login{
    float: right;
    margin-left:80%;
    border-radius: 5px;
    color: white;
    font-size: 13px;
    font-weight: bolder;
    cursor: pointer;
 }
 /*이미지*/
.center{
    width:300px; height:300px;
    display: block;
    margin: auto;
    border-radius: 60%;
}
h1{
    color:rgb(248, 107, 107);
    text-align: center;
    margin: 40px 40px;
}

h2{
    float: right;
}

table, tr, th, td{
    border:1px solid black;
    margin : auto;
    text-align: center;
    font-size: 18px;
    font-weight: bolder;
}

table{
    width: 70%;
    height: 50%;
}

#BTN_1{
    text-align: center;
    text-decoration: none;
    display: block;
    margin: 20 auto;
}

.b1, .b2{
    margin: 40px;
    padding: 18px 15px;
    background-color: rgb(248, 107, 107);
    border: 1px solid gray;
    border-radius: 5px;
    color: white;
    font-size: 13px;
    font-weight: bolder;
    cursor: pointer;
}